* {
    margin: 0;
    padding: 0;
}

.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions {
    border: 3px solid purple;
    padding: 3%;
    min-height: 40vh;
    min-width: 40vw;
    text-align: center;
}

.questions li{
    list-style: none;
    background-color: purple;
    color: white;
    border-radius: 0.75em;
    margin: 2% 0 2% 0;
    padding: 2% 0 2% 0;
}

button {
    cursor: pointer;
    padding: 2%;
    background-color: white;
    color: rgb(164, 68, 177);
    margin: 3% 3% 0 0;
}

button:hover {
    background-color: rgb(164, 68, 177);
    color: white;
}