/* website font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* globally adding the fond and resetting some properties */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

/* styling the highscores link */
.highscores {
    float: left;
    margin: 5% 0 0 5%;
    padding: 0.5%;
    font-weight: 600;
    border: 2px solid black;
    min-width: 10vw;
    max-width: 10vw;
    text-align: center;
}

.highscores a {
    text-decoration: none;
    color: black;
}

.highscores a:hover {
    text-decoration: underline;
    color: purple;
}

/* styling the timer */
.timer {
    float: right;
    margin: 5% 5% 0 0;
    padding: 0.5%;
    font-weight: 600;
    border: 2px solid black;
    min-width: 10vw;
    max-width: 10vw;
    text-align: center;
}

/* styling the questions container and all the elements within it */
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions-container {
    border: 3px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20vw;
    max-width: 20vw;
    min-height: 30vh;
    max-height: 40vh;
    flex: 0 0 1;
    padding: 3%;
}

.questions {
    text-align: center;
}

.questions h1 {
    padding-bottom: 5%;
}

.questions p {
    padding-bottom: 5%;
}

.questions input {
    margin: 6% 3% 0 0;
    height: 2.3em;
}

li {
    background-color: rgb(164, 68, 177);
    margin: 3% 0 2% 0;
    padding: 2%;
    cursor: pointer;
    text-align: center;
    list-style: none;
    color: white;
    border-radius: 0.75em;
}

li:hover {
    background-color: rgb(179, 119, 187);
}

button {
    cursor: pointer;
    padding: 2%;
    background-color: white;
    color: rgb(164, 68, 177);
}

button:hover {
    background-color: rgb(164, 68, 177);
    color: white;
}

.answer-message {
    padding-top: 5%;
}

/* Media queries and breakpoints */

@media screen and (max-width: 1500px) {
    .questions-container {
        min-width: 30vw;
        max-width: 30vw;
        min-height: 40vh;
        max-height: 50vh;
    }
}

@media screen and (max-width: 1025px) {
    .questions-container {
        min-width: 40vw;
        max-width: 40vw;
        min-height: 50vh;
        max-height: 60vh;
    }
}

@media screen and (max-width: 850px) {
    .questions-container {
        min-width: 70vw;
        max-width: 70vw;
        min-height: 50vh;
        max-height: 50vh;
    }
    .highscores {
        min-width: 15vw;
        max-width: 15vw;
    }
}

@media screen and (max-width: 700px) {
    .timer {
        min-width: 15vw;
        max-width: 15vw;
    }    
}

@media screen and (max-width: 600px) {
    .questions-container {
        min-width: 70vw;
        max-width: 70vw;
        min-height: 50vh;
        max-height: 50vh;
    }
    .highscores {
        min-width: 20vw;
        max-width: 20vw;
    }
}

@media screen and (max-width: 500px) {
    .questions-container {
        min-width: 70vw;
        max-width: 70vw;
        min-height: 50vh;
        max-height: 50vh;
    }
    .highscores {
        min-width: 25vw;
        max-width: 25vw;
    }
    .timer {
        min-width: 20vw;
        max-width: 20vw;
    }  
}